<header>
    <div id="title">
        International Futbol
        
    </div>
    <div id="nav">
        <a id="home" href="/teams">Home</a>
        <a href="/teams/Europe">Europe</a>
        <a href="/teams/NorthAm">North America</a>
        <a href="/teams/SouthAm">South America</a>
        <a href="/teams/Africa">Africa</a>
        <a href="/teams/Asia">Asia</a>
        <a href="/teams/Oceania">Oceania</a>
    </div>

</header>
<style>
    header{
        background-color: #36454F;
        overflow: hidden;
    }

    
    #title{
        text-align: center;
        color: white;
    }

    #nav a{
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 60px;
        text-decoration: none;
        font-size: 15px;
    }

    #nav a:hover{
        background-color: green;
        color: white;
    }

    #nav a.active{
        background-color: #04AA6D;
        color:  white;
    }
</style>