<header>
    <div>
        International Futbol <span><a href="/teams">Home</a></span>
    </div>
    <div id="nav">
        <a href="/teams/Europe">Europe</a>
        <a href="/teams/NorthAm">North America</a>
        <a href="/teams/SouthAm">South America</a>
        <a href="/teams/Africa">Africa</a>
        <a href="/teams/Asia">Asia</a>
        <a href="/teams/Oceania">Oceania</a>
    </div>

</header>