<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>National Teams</title>
</head>
<body>
<%- include("./partials/header.ejs");%> <br>
<a href="/teams/new"><button>Add New Team</button></a>
    <ul>
        <% teams.forEach(team => {%>
        <a href="/teams/<%=team._id;%>"><img src=<%=team.flag%>></a>
        <%})%>
    </ul>

    <style>
        body{
            background-color: #D7D9D7;
            margin-left: 0px;
        }

        h1{
            background-color: green;
            margin-top: 0px;
        }

        li{
            list-style: none;
        }
        
        img{
            height: 150px;
            width: 200px;
            padding: 10px;
            margin: 5px;
            border: 5px solid green;
        }
    </style>
</body>
</html>