<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>New Team</title>
	</head>
	<body>
        <%- include("./partials/header.ejs");%>
		<h1>New Team Page</h1>
        <a href="/teams">Return to Home Page</a>
		<form action="/teams" method="POST">
			Name: <input type="text" name="name" /><br />
			Rank: <input type="number" name="rank" /><br />
			Continent: <input type="text" name="continent" /><br />
            Flag: <input type="text" name="flag" /><br />
            Population: <input type="number" name="population" /><br />
            Capitol: <input type="text" name="capitol" /> <br />
			<input type="submit" name="" value="Add Team" />
		</form>
	</body>
</html>