body{
    background-color: #D7D9D7;
    margin-left: 0px;
}

h1{
    background-color: green;
    margin-top: 0px;
}

li{
    list-style: none;
}

img{
    height: 150px;
    width: 200px;
    padding: 10px;
    margin: 5px;
    border: 5px solid green;
}